Makefile
/examples/Makefile
/include
/lib
/mkspecs
/.qmake.cache
/src/compress/.moc
/src/compress/.obj
/src/compress/.pch
/src/compress/Makefile.Debug
/src/compress/Makefile.Release
/src/compress/object_script.Qt5Compress.Release
/src/compress/object_script.Qt5Compressd.Debug
/src/compress/Qt5Compress_resource.rc
/src/compress/Qt5Compressd_resource.rc
/tests/auto/unit/qzip/Makefile.Debug
/tests/auto/unit/qzip/Makefile.Release
/tests/auto/unit/qzip/.moc
/tests/auto/unit/qzip/.obj
/tests/auto/unit/qzip/.pch
/tests/auto/unit/qzip/debug
/tests/auto/unit/qzip/release
/.qmake.stash
/examples/build-zipFileInfo-Desktop_Qt_5_7_1_MinGW_32bit-Debug
/src/compress/compress.pro.user.3.2-pre1
/src/compress/compress.pro.user
